@import "../../node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Indie+Flower|Open+Sans+Condensed:300');
//#ef5350 red lighten-1
//#e53935 red darken-1
//#81d4fa light-blue lighten-3 **********
//#03a9f4 light-blue
//#828282 battleship grey
//#424242 grey darken-3
//#fff white
//#fff8e1 amber lighten-5
//#d7ccc8 brown lighten-4
// #616161 grey darken-2
//#f5f5f5 grey lighten-4
// $darkenBlue: #0277bd;

$baseFont: 'OpenSansCondensed', sans-serif;
$logoFont: 'Fira Mono', monospace;
$stylizedFont: 'Indie Flower', cursive;
$white: #fff;
$greyText: #616161;
$logoOrange: #ff9800;
$logoBlue: #03a9f4;
$greyBackground: #f5f5f5;
$logoRed: #FF2101;
$defaultText: #616161;

.tech-logo {
	height: 50px;
	width: 170px;
}

.tag-line {
	font-style: italic;
	font-size: 20px;
}

.emphasis-words {
	color: $logoBlue;
}

.blurb {
	font-size: 16px;
}

.list {
	text-align: center;
}

nav {
	background-color: $white;
	.brand-logo {
		font-family: $logoFont;
		color: $greyText;
	}
	.nav-link {
		color: $greyText;
	}
}

.carousel.carousel-slider.initialized {
	height: 600px !important;
}

.carousel-overlay {
	height: 300px;
	color: $defaultText;
	margin: 0;
}

.succulants-img,
.granite-img {
	background-image: url('/app/images/Succulants.jpg');
	height: inherit;
	background-size: cover;
	background-repeat: no-repeat;
}
.granite-img {
	background-image: url('/app/images/Granite.jpg');
}

.info-box {
	background-color: $greyBackground;
	padding: 10px;
	opacity: .75;
}

.row .col {
	padding: 0;
}

h5.info-box-header {
	text-align: center;
	margin: 0;
	font-style: italic;
	// font-family: $baseFont;
	// font-family: fantasy;
}

#carousel-row-overlay {
	bottom: 0;
	margin-bottom: 0;
}
