@import "../../node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
//#ef5350 red lighten-1
//#e53935 red darken-1
//#81d4fa light-blue lighten-3 **********
//#03a9f4 light-blue
//#828282 battleship grey
//#424242 grey darken-3
// #616161 grey darken-2
//#f5f5f5 grey lighten-4
// $darkenBlue: #0277bd;

$baseFont: 'Reem Kufi', sans-serif;
$white: #fff;
$logoBlue: #34A6C1;
$greyBackground: #f5f5f5;
$logoRed: #E2332E;
$defaultText: #616161;

body {
	font-family: $baseFont;
	color: $defaultText;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#app {
	flex: 1 0 auto;
}

footer.page-footer {
	background-color: $logoBlue;
	p {
		font-size: 18px;
	}
}

.tech-logo {
	margin: 4px 0 0 4px;
	height: 55px;
	width: 150px;
}

.tag-line {
	font-style: italic;
	font-size: 20px;
	margin-left: 20px;
}

.red-emphasis-words {
	color: $logoRed;
}

.blue-emphasis-words {
	color: $logoBlue;
}

.italic {
	font-style: italic;
}

nav {
	background-color: $white;
	.brand-logo {
		color: $defaultText;
		display: flex;
		justify-content: center;
	}
	.nav-link {
		color: $defaultText;
		font-size: 20px;
	}
}

.carousel.carousel-slider.initialized,
.carousel.carousel-slider {
	height: 600px !important;
}

.carousel.carousel-slider .carousel-item {
	width: 100% !important;
	height: 100% !important;
	min-height: 400px !important;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-position: center;
}

.carousel-overlay {
	height: 600px;
	color: $defaultText;
	margin: 0;
}

.info-box {
	background-color: rgba(245, 245, 245, 0.5);
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	h1 {
		color: $white;
		line-height: 1.5;
		text-shadow: 1px 1px 2px black;
	}
}

h3.section-header {
	text-align: center;
	margin: 80px 0 20px 0;
	color: $logoRed;
}

.large-copy h5,h6,p,ul{
	font-size: 22px
}

.custom-container {
	margin: 0 40px;
}

.list-tile-bullets {
	text-align: center;
	color: $logoBlue;
	h6 {
		color: $defaultText;
	}
}

.card-panel.second-nav {
	margin: 0;
	background-color: $logoBlue;
	h3 {
		margin: 0;
	}
}

.external-site-logo {
	height: 50px;
}

.services-section {
	background-color: $logoRed;
	padding: 10px;
	h6 {
		margin: 0;
	}
}

.sub-heading {
	color: $logoBlue;
}

.bottom-home-page {
	margin-bottom: 80px;
}

.company-copy-wrapper {
	margin: 80px 0;
}

.input-field input[type=text]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=email]:focus,
.input-field textarea.materialize-textarea:focus {
	border-bottom: 1px solid $logoBlue;
}

.input-field input[type=text]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea.materialize-textarea:focus + label {
	color: $logoBlue;
}

button.submit-form {
	background-color: $logoRed;
}

button.submit-form:hover {
	background-color: $defaultText;
}

a.cancel-button {
	background-color: $greyBackground;
	color: $defaultText;
	margin-left: 10px;
}

a.cancel-button:hover {
	background-color: $defaultText;
	color: $white;
}



// @media #{$small-and-down} {
//   // styles for small screens and down
// }
// @media #{$medium-and-up} {
//   // styles for medium screens and larger
// }
// @media #{$medium-and-down} {
//   // styles for medium screens and down
// }
// @media #{$large-and-up} {
//   // styles for large screens and up
// }
